.react-multiple-carousel__arrow {
    background-color: #000; /* Change background color */
    color: #ffffff;
    font-size: 24px; 
  }

  .react-multiple-carousel__arrow:hover{
    background-color: #000; /* Change background color */
    color: #ffffff;
    font-size: 24px; 
  }